<!-- Page Header -->
    <header class="masthead" style="background-image: url('https://itdata.sk/wp-content/uploads/2017/12/hurbag-1100x550.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1><%= @article.title %></h1>
              <span class="meta">Posted by Magda on <%= @article.created_at.strftime("%Y-%m-%d")%></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-12 mx-auto">
            <%= raw @article.text %>
          </div>
        </div>
      </div>
    </article>
