<header class="masthead" style="background-image: url('https://itdata.sk/wp-content/uploads/2017/12/hurbag-1100x550.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Co nieco o mnie :)</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <p> Strona w budowie.<br><br>
          Po informacje "o mnie" zapraszam do wpisu na stronie głównej.
      </p>
      <!---<p>
        Cześć! <br><br>

        Miło mi, że zaglądasz na moją stronę poświęconą projektom, które będę robić w trakcie kursu programowania
        webowego - <strong>CodersCamp</strong>. </p>

        <p> Coś o mnie? Jestem studentką Politechniki Wrocławskiej aktywnie interesującą się branżą IT. Oprócz działalności
           akademickiej w różnych organizacjach po godzinach rozwijam się m.in. jako IT New Business Manager w <strong>Girls in Tech
            Poland</strong> organizując meet-upy branżowe, prelekcje czy warsztaty z programowania. Na nasze eventy zapraszamy zarówn
            o firmy technologiczne, autorytety, jak i specjalistów, którzy dzielą się swoim doświadczeniem i wiedzą.
            Nasza organizacja nie tylko zwiększa zdolności technologiczne, ale i przedsiębiorczość wśród młodych kobiet
            (i nie tylko), inspiruje i mobilizuje do działania oraz rozwoju. </p>

        <p>Dodatkowo zgłębiam wiedzę techniczną z dziedziny IT - przez ostatnie pół roku szkoliłam się w zakresie testowania
           oprogramowania, a obecnie biorę udział w kursie web developmentu <strong>CodersCamp</strong> i uczę się programować.
           Poza tym, że zależy mi na ciągłym rozwoju w tym kierunku, mogę powiedzieć, że szybko przyswajam nowe technologie,
           lubię próbować nowych rzeczy i jestem pozytywną, zorganizowaną osobą, zmotywowaną do ciężkiej pracy.
      </p> --->
    </div>
  </div>
</div>
