<header class="masthead" style="background-image: url('https://itdata.sk/wp-content/uploads/2017/12/hurbag-1100x550.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>About me</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <%= BetterLorem.p(5).html_safe %>
    </div>
  </div>
</div>
